.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    overscroll-behavior: none;
    background-color: var(--mantine-color-gray-9);
    max-height: 100vh;
}