.root {

    flex-basis: 25rem;
    flex-shrink: 0;
    background: var(--mantine-color-gray-9);
    margin: 1rem;
    margin-right: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    margin-top: 0.5rem;

}

.searchBox {
    background-color: aliceblue;
}

.resultsContainer {
    overflow: hidden overlay;
    scrollbar-width: auto;
    scrollbar-color: var(--mantine-color-gray-8) var(--mantine-color-gray-9);
    max-height: 100%;
}
.course {
    background-color: var(--mantine-color-gray-8);
    margin-right: .5rem;
}

.section {
    border-top: 1px solid var(--mantine-color-gray-9);
    padding: .75em;
}

.sectionTopRow {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
}
.sectionID {
    color: #6C6C6C;
    width: 3em;
    font-weight: bold;
    font-size: 1em;
}

.instructors {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1em;
}
.gpa {
    margin-left: auto;
    font-weight: bold;

}
