.header {
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--mantine-color-gray-9);
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background: linear-gradient(to right, #fe4d4d 15%, #892626 85%);
}
.logoText {
  font-size: 1.5em;
  padding: 1em;
  color: white;
}

.searchToggle, .controlToggle {
  display: none;
}

@media (max-width: 1100px) {
 
  .controlToggle {
    display: block;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    right: 0.8em;
    top: 0.8em;
    border: 0;
    cursor: pointer;
  }
}


@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
  .searchToggle {
    display: block;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    left: 0.8em;
    top: 0.8em;
    border: 0;
  }
}
